<div class="row center mt-60 mb-120">
  <div class="col-12 center">
    <h2 class="font__size--medium">So.. How Does It Work? Easy!</h2>
  </div>
  
  <div class="col-12 col-md-4 card--holder mb-m-60">
    <div class="card__info">
      <img src="https://cdn.shopify.com/s/files/1/0442/3804/5333/files/TNT-page-icons-just-add-water.png?v=1650945779">
      <h3>Just Add Water!</h3>
      <p>All you have to do is add warm water to the jars and included mosquito bait. Stir till it dissolves and let it do the rest for you!</p>
    </div>
  </div>

  <div class="col-12 col-md-4 card--holder mb-m-60">
    <div class="card__info">
      <img src="https://cdn.shopify.com/s/files/1/0442/3804/5333/files/TNT-page-icons-place-in-yard.png?v=1650945778">
      <h3>Place In Yard</h3>
      <p>All you have to do is add warm water to the jars and included mosquito bait. Stir till it dissolves and let it do the rest for you!</p>
    </div>
  </div>

  <div class="col-12 col-md-4 card--holder">
    <div class="card__info">
      <img src="https://cdn.shopify.com/s/files/1/0442/3804/5333/files/TNT-page-icons-no-mosquitoes.png?v=1650945779">
      <h3>Eliminates Mosquitoes</h3>
      <p>All you have to do is add warm water to the jars and included mosquito bait. Stir till it dissolves and let it do the rest for you!</p>
    </div>
  </div>
</div>


<div class="row center mb-120">
  <div class="col-12 center">
    <h2 class="font__size--medium">The Safest, Most Effective Way To Eliminate Mosquitoes</h2>
  </div>
  
  <div class="col-12 center">
    <img src="https://cdn.shopify.com/s/files/1/0442/3804/5333/files/TNT-page-3-benefits.png?v=1650945779">
  </div>
</div>


<div class="row center mb-120">
  <div class="col-12 center">
    <img class="br-3" src="https://cdn.shopify.com/s/files/1/0442/3804/5333/files/mosquito-explode_7ba49661-6384-4e1d-a1a0-d8951f928527.jpg?v=1615306957">
  </div>
</div>


<!-- START #moneyBackGuarantee 
{% render 'custom-money-back-guarantee' %}
 END #moneyBackGuarantee -->