<div class="row center">
  <div class="col-8 center card__holder">
    <div class="card__info">
      <img src="https://i.imgur.com/UfysUH9.gif" height="150px" width="150px">
      <h2 class="section-header__title">Try {{ product.title }} Risk-Free</h2>
      <h4>If you're not happy with your purchase, we'll refund your money.</h4>
      <a href="#shopify-section-product-template" class="btn hero__btn orange__btn">
        Add To Cart
      </a>
    </div>
  </div>
</div>